.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #e9f4ff;
  background: url(//web.ccpgamescdn.com/forums/img/nebula.jpg) no-repeat center top #0b0b1b;
  overflow: auto;
}

.panel {
  background-color: transparent;
  border: 1px solid white;
}

button {
  background-color: transparent;
}

#tooltip > .tooltip-inner {
  width: 300px;
  background-color: #EFEEEE;
  color: black;
  border: 1px solid #BDBDBD;

}

#tooltip > .tooltip-arrow{
  display: none;
}

button {
  border-radius: 3.5px;
}
